/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=================================================
=================================================
End CSS Reset
=================================================
=================================================



Begin BashCustomer CSS Below
*/

/*
Common
-----------------------
*/

body {
	font-family:courier;
	color: #000;
	background-color: #fff;
}

a:link {	color: #333;	}  
a:visited,a:hover,a:focus,a:active {	color: orange;	}

#wrap {
	width: 808px;
	margin: 0 auto 100px auto;
}

section {
	margin: 4px 0 40px 0;
}

header {
	margin: 0 0 40px 0;
}

header h1 {
	font-size: 3em;
}

header h3 {
	font-style: italic;
}

h2 {
	font-size: 1.4em;
}

ul {
	margin: 0 0 10px 20px;
}

code, strong {
	font-weight: bold;
}

.flag {
	background-color: orange;
}

ul li {
	display: inline-block;
	padding: 8px;
	margin: 4px;
	background-color: #eee;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 1px solid #eee;
}

/*
Terminal Preview Box
-----------------------
*/

#terminal {
	border: 1px solid #000;
	}

#title {
	background-color: #eee;
	text-align: center;
	padding: 2px 0;
}

#area {
	padding: 2px 2px 30px 2px;
}

#prompt {}

/*
Config
-----------------------
*/

#config {
	padding: 10px 30px;
	border: 3px dotted #333;
}

/*
Customize Config Options Box
-----------------------
*/

#customize {
	padding: 10px 30px;
	border: 3px dotted #333;
}

#customize ul:last-child {
	margin: 0 0 0 20px;
}

#customize h3 {
	font-size: 1.2em;
}

/*
bash profile copytext Box
-----------------------
*/

#copytext {
	padding: 30px;
	border: 3px dashed #333;
}


